AICF_API_HOST=0.0.0.0
AICF_API_PORT=8099
AICF_API_JWT_SECRET=replace-me
AICF_API_INTERNAL_SECRET=replace-me-internal
AICF_CHAIN_ID=1337
AICF_TREASURY_ADDRESS=anm1treasuryxxxxxxxxxxxxxxxx
AICF_GOVERNANCE_ADDRESS=anm1governancexxxxxxxxxxxxx
AICF_PROJECT_BALANCE_CONTRACT=anm1projectbalancexxxxxxxx
AICF_JOB_ESCROW_CONTRACT=anm1jobescrowxxxxxxxxxxxxxx
AICF_REWARDS_CONTRACT=anm1rewardsxxxxxxxxxxxxxxxx
AICF_PROVIDER_REGISTRY_CONTRACT=anm1providersxxxxxxxxxxxxxx
AICF_STAKE_MANAGER_CONTRACT=anm1stakexxxxxxxxxxxxxxxxxx
AICF_DISPUTE_MANAGER_CONTRACT=anm1disputesxxxxxxxxxxxxxxx
AICF_MIN_PROVIDER_STAKE_ANM=1500
AICF_CHALLENGE_WINDOW_SECONDS=900
AICF_DEFAULT_SUBSIDY_BPS=500
AICF_ADMIN_BOOTSTRAP_EMAIL=admin@animica.org
AICF_ADMIN_BOOTSTRAP_PASSWORD=change-me
AICF_TREASURY_BOOTSTRAP_ANM=500000
AICF_RATE_LIMIT_WINDOW_MS=60000
AICF_RATE_LIMIT_MAX=240
AICF_MINER_ARTIFACTS_DIR=artifacts/miners
