AICF_API_BASE_URL=http://127.0.0.1:8099
AICF_PROVIDER_ID=provider_xxxxx
AICF_PROVIDER_TOKEN=aicf_daemon_xxxxx
AICF_NODE_ID=node_xxxxx
AICF_DAEMON_HEARTBEAT_MS=3000
AICF_DAEMON_CLAIM_MS=2000
AICF_DAEMON_MAX_JOBS_PER_TICK=3
AICF_DAEMON_RUNTIME_NAME=provider-local
