ANIMICA_TOKENS_SERVER_PORT=8787
ANIMICA_RPC_URL=http://127.0.0.1:8545/rpc
ANIMICA_CHAIN_ID=1337
ANIMICA_SIGNER_ALG=dilithium3
ANIMICA_DEPLOY_SEED_HEX=
ANIMICA_DEPLOY_MNEMONIC=
ANIMICA_MAX_FEE=1000000
ANIMICA_GAS_LIMIT=

ANIMICA_DEX_FACTORY_ADDRESS=
ANIMICA_DEX_ROUTER_ADDRESS=
ANIMICA_DEX_LAUNCH_FEE_ANM=0

ANIMICA_UPLOAD_MAX_BYTES=8388608
IPFS_GATEWAY_BASE=https://ipfs.io/ipfs/
PINATA_JWT=

ANIMICA_TOKENS_ADMIN_KEY=
ANIMICA_PYTHON_BIN=python
