EXPLORER2_PORT=8081
EXPLORER2_RPC_URL=http://127.0.0.1:8545/rpc
EXPLORER2_WS_URL=
EXPLORER2_CORS_ORIGIN=*
EXPLORER2_LOG_LEVEL=info
EXPLORER2_CACHE_HEAD_TTL_MS=5000
EXPLORER2_CACHE_BLOCKS_TTL_MS=8000
EXPLORER2_CACHE_TX_TTL_MS=20000
EXPLORER2_CACHE_PERSIST_PATH=
EXPLORER2_RPC_TIMEOUT_MS=30000
EXPLORER2_RPC_MAX_RETRIES=3
