VITE_API_BASE_URL=http://127.0.0.1:8787
VITE_ANIMICA_RPC_URL=http://127.0.0.1:8545/rpc
VITE_ANIMICA_CHAIN_ID=1337
VITE_ANIMICA_DEX_FACTORY_ADDRESS=
VITE_ANIMICA_DEX_ROUTER_ADDRESS=
VITE_ANIMICA_TOKENS_ADMIN_KEY=
