{"name":"{{NAME}}","version":"1.0.0","language":"python","entry":"contract.py","description":"Membership pass template.","abi":{"functions":[{"name":"mint","inputs":[{"name":"to","type":"str"},{"name":"token_id","type":"int"}],"outputs":[],"stateMutability":"write"},{"name":"owner_of","inputs":[{"name":"token_id","type":"int"}],"outputs":[{"type":"str"}],"stateMutability":"view"},{"name":"transfer","inputs":[{"name":"frm","type":"str"},{"name":"to","type":"str"},{"name":"token_id","type":"int"}],"outputs":[],"stateMutability":"write"}],"errors":[{"name":"SOULBOUND"}]}}
